* {
    margin: 0;
    padding: 0;
}
h1 {
    background: #428DA5;
    background: -webkit-linear-gradient(top left, #428DA5, #A20674);
    background: -moz-linear-gradient(top left, #428DA5, #A20674);
    background: linear-gradient(to bottom right, #428DA5, #A20674);
    padding: 20px 0;
    color: #fff;
    text-align: center;
}
.box-wrappper   {
    height: 500px;
    width: 100%;
    position: relative;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(251,162,79,1) 54%, rgba(252,176,69,1) 94%); 
    margin-top: 100px;
}
.single-box {
    width: 300px;
    height: 250px;
    transition: all 1s ease-out;
    
}
.box-1{
    background: #A8E23F;
    background: -webkit-linear-gradient(top left, #A8E23F, #1DB034);
    background: -moz-linear-gradient(top left, #A8E23F, #1DB034);
    background: linear-gradient(to bottom right, #A8E23F, #1DB034);
    position: absolute;
    top: -60px;
    left: 35%;
}
.box-2 {
    background: #065300;
    background: -webkit-linear-gradient(top left, #065300, #3B0895);
    background: -moz-linear-gradient(top left, #065300, #3B0895);
    background: linear-gradient(to bottom right, #065300, #3B0895);
    position: absolute;
    top: 0px;
    left: 40%;
}
.box-3 {
    
    transition: all 5s ease-in;
    background: #655666;
    background: -webkit-linear-gradient(top left, #655666, #E5EA75);
    background: -moz-linear-gradient(top left, #655666, #E5EA75);
    background: linear-gradient(to bottom right, #655666, #E5EA75);
    position: absolute;
    top: 60px;
    left: 45%;
}
.box-4 {
    background: #9A1D75;
    background: -webkit-linear-gradient(top left, #9A1D75, #62A7C2);
    background: -moz-linear-gradient(top left, #9A1D75, #62A7C2);
    background: linear-gradient(to bottom right, #9A1D75, #62A7C2);
    position: absolute;
    top: 120px;
    left: 50%;

}
.box-4:hover, .box-3:hover, .box-2:hover, .box-1:hover {
    z-index: 1;
    transition: all 1s ease-out;
}